azure-ai-projects==2.6.1
azure-identity==1.25.3
azure-storage-blob==12.30.3
azure-storage-queue==12.17.0
agent-framework-core==1.19.0
agent-framework-foundry==1.13.1
agent-framework-foundry-hosting==1.0.0b260918
python-dotenv==1.2.2
